@font-face {
	font-family: "Infinity";
	src: url("/fonts/Infinity.ttf") format("opentype");
	}

html {
	width:100%;
	height:100%;
	font: 100 18px sans-serif;
}

body {
	min-width:350px;
	margin:auto;
	padding:0;
	width:80%;
	height:100%;
}

header {
	position:relative;
	background:url('/img/header.jpg') center center;
	background-size:cover;
}

#title {
	width:100%;
	display:flex;
	flex-wrap:wrap-reverse;
	justify-content: space-between;
	align-items:center;
} #title h1, #title h3 {margin:15px;font-family:"Infinity";color: aqua}

h1 {
	font-size : 60px;
	font-family:"Infinity";
	text-align:center;
}

nav {
	background: rgba(255, 255, 255, 0.4);
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	padding:0;
	margin:0;
} nav div a, nav div {padding:10px;color:white;font: 400 18px sans-serif;text-decoration:none;}

a:hover, button:hover{
	background:tan;
	cursor:pointer;
}

#templateContainer {
	margin : auto;
	margin-top:50px;
	width: calc(90% - 40px);
	padding:10px;
	box-shadow : 0 0 10px black;
	border-radius:25px;
	height: 45vh;
	min-height: 400px;
	display: flex;
	flex-wrap:wrap;
	overflow:hidden
}

#sidebar{
	margin-left:4%;
	width: 35%;
	height:100%;
}

#imgContainer {
	border-radius:25px 0 0 25px;
	width: 60%;
	overflow:hidden;
} #imgContainer img {width:100%;height:100%;object-fit: cover;}

.author {
	height: 40%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-bottom:30px;
}	.author img {width:75px; height:75px;border-radius:50%;object-fit: cover;box-shadow:3px 3px 2px black;margin-bottom:10px;margin-right:10px;}
	.author p {height: 40%;overflow:hidden;} .author p:hover {overflow:auto;}

.comContainer {
	height: 40%;
	overflow:hidden;
} .comContainer:hover {overflow:auto;}

.comAuthor {
	display:flex;
	flex-wrap:wrap;
}

.comment {
	padding: 10px;
	border-style: solid;
	border-color:black;
	border-width:1px 1px 0 0;
}

.comment img {
	width:55px;
	height:55px;
	border-radius:50%;
	object-fit: cover;
	box-shadow:3px 3px 2px black;
	margin-right:20px;
}

#log {
	display:flex;
	padding: 0;
	margin :0;
	justify-content:center;
	align-items:center;
}

#log form {
	padding: 0;
	margin :0;
	transition: all 1s;
}

input {border-radius : 10px; border : solid 1px lightgrey;padding:2px;}
input:focus {background:beige;outline:none}

#signup {
	left:0;
	z-index:2;
} #signup .bg {z-index:2;left:0; position:absolute; background:rgba(0, 0, 0, 0.4); width:100%; height:100%;}

#signup form {
	min-width:300px;
	z-index:5;
	width : 25%;
	padding: 30px;
	padding-top:0px;
	top : 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display:flex;
	flex-direction :column;
	position:absolute;
	background:white;
	border-radius : 25px;
	box-shadow: 2px 2px 3px black;
} #signup form input, .logon input {margin:10px;}

.logon form{
	min-width:300px;
	z-index:1;
	margin-top:15%;
	margin-left:50%;
	width : 55%;
	padding: 30px;
	padding-top:0px;
	transform: translate(-50%, 0%);
	display:flex;
	flex-direction :column;
	background:white;
	border-radius : 25px;
	box-shadow: 2px 2px 3px black;
}

#snapContainer {
	margin-top:42px;
	width:100%;
	display:flex;
	flex-wrap : wrap;
	justify-content:center;
	align-items:center;
}

.webcam {
	width:50%;
	padding:15px;
	border-radius:25px;
	background:gray;
} .webcam button {margin : 10px; padding:5px;}
canvas {width:100%;}

#set {
	width : 45%;
	height : 30%;
	min-height: 300px;
	background:aqua;
}

#videoElement {
	width:100%;
	border-radius:15px;
	background : url('http://www.pawsandaffection.org/wp-content/themes/charity/images/page-loader.gif') center center no-repeat, white;
	background-size : contain;
}

#users {
	display:flex;
	flex-wrap:wrap;
	margin-top:42px;
	margin-bottom:42px;
	justify-content:center;
	align-items:center;
} .blaze { margin-left:50%; transform: translate(50px,50px); font-weight:700; color : black}

textarea { width:80%; resize:vertical; outline:none; padding:10px;border-radius:15px;}

@media screen AND (max-width:800px) , (orientation:portrait)
{
	body {width:95%; padding:0; margin:auto;}
	#imgContainer {width:100%; border-radius:25px; height:50%;}
	#sidebar {width:100%; height:40%;}
	.author {}
	.author img {width:55px; height:55px;}
	#templateContainer {height:70vh; min-height:800px}
	.webcam {width:100%;}
	#set { width:100%; margin-top:15px; border-radius:15px; background:gray; };
	#users {  }
}
